body { 
	font-family: helvetica;
	max-width: 960px;
	margin: 20px;
}

div#content {
}

div#notice {
	background-color: pink;
	padding: 10px;
}

div.footer_nav { 
	margin-top: 20px;
	text-align: center;
}

.footer_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_nav li {
	display: inline-block;
	text-align: center;
	width: 240px;
}

.index_table, .index_table th, .index_table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}

.index_table th {
}

ul.index_options {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.index {
	padding: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
